.filtering-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    text-align: center;
    width: 90%;
    margin: 8px auto;
}

.main-filter {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.filtering-container .button {
    position: relative;
    height: 35px;
    width: 110px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 25px;
    border-radius: 10px;
    color: #737373;
    font-weight: bold;
    border: 2px solid #737373;
    cursor: pointer;
}

.clear {
    height: 35px;
    width: 80px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 25px;
    border-radius: 20px;
    color: #0A5D69;
    font-weight: bold;
    border: 2px solid #0A5D69;

}

.button:hover,.clear:hover {
    color: #ffffff;
    background-color: #737373;
}

  .type-here {
    width: 98%;
    height: 45px;
    padding: 20px 20px 20px 40px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    /* caret-color: transparent; */
    background-color: #E2E5E9;
    
  }

  .type-here:focus {
    outline: none;
  }

  .inputContainer {
    margin-bottom: 6px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  
  .icon {
    position: absolute;
    left: 10px; /* Adjust the left position as needed */
    color: #131313; /* Set the color you desire */
  }

  .parent-button-relative {
    position: relative;
    background-color: aqua;
  }
