.container-signup {
    min-width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
}

.form {
    background-color: rgb(243, 241, 241);
    width: 50%;
    padding: 40px;
    border-radius: 5px;
}

.side-by-side {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.input-container-side {
    width: 49%;
}

.label-element {
    font-size: 12px;
    color: rgb(84, 105, 141);
    margin: 0px 0px 5px 0px;
    line-height: inherit;
}

.input-element {
    width: 100%;
    padding: 2px 10px;
    border-radius: 12px;
    border: 1px solid lightgray;
}

.button-main {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: #D85937;
    color:white;
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Vertically center the text */
}

.button-main:hover {
    background-color: #0A5D69;
    color:white;
}

.line {
    margin-top: 20px;
}

.subbuttom {
    color: #D85937;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.subbuttom:hover {
    color: #0A5D69;
}