.container {
    position: relative;
    height: 92vh;
    width: 100vw;
}

.boxSignInUp {
    min-width: 700px;
    min-height: 700px;
    position: absolute;
    top: 5%;
    left: 25%;
    padding: 30px 46px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 5;
    background-color: white;
}

.boxSignInUp p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.svgContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
