.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
    height: 80vh;
    margin: 0 auto 0 auto;
}

.text-container {
    width: 50%;
    padding-right: 50px;
}

.uChat {
    text-align: center;
}

.letter-u {
    font-size: 90px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color: #EA4D27;
}

.chat {
    font-size: 60px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color: #0A5D69;
}

.body-text {
    padding: 10px 20px 30px 20px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Helvetica Neue';
    color: #707070;
}

.get-started {
    text-align: center;
}
.image-container {
    width: 50%;
    height: 90%;
}

.image-container img {
    width: 90%;
    height: 100%;
}
