.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
    height: 80vh;
    margin: 40px auto 0 auto;
}

.welcome {
    width: 50%;
    display: flex;
    padding-left: 20px;
    justify-content: center;
    flex-direction: column;
}

.welcoming-text {
    font-size: 90px;
    text-align: center;
    line-height: 150px;
    font-variant: normal;
    font-family: Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color:#EA4D27;
}

.welcoming-subtext {
    margin-bottom: 20px;
    margin-top: 0;
    font-family: Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 28px;
    line-height: 40px;
    color: #515164;
}
.unordered-list-welcome {
    margin-bottom: 20px;
}

ul li {
    margin: 14px 0px 12px 0px;
    font-size: 16px;
    font-weight: bold;
    font-family: Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-variant: normal;
    line-height: 1.5715;
    color: #515164;
}
ul li i {
    margin-right: 8px;
}

.button-container {
    text-align: center;
}

.get-started-button {
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    padding-bottom: 46px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #EA4D27;
    background-color: #EA4D27;
    color: #fff;
    text-align: center;
    border-radius: 25px;
}

.get-started-button:hover {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #EA4D27;
    color: #EA4D27;
}
.all-circles {
    position: relative;
    width: 50%;
    height: 100%;
}

/*circles*/

.circle-one-container {
    position: absolute;
    top: 70px;
    right: 90px;
}

.circle-two-container {
    position: absolute;
    top: 200px;
    left: 50px;
}

.circle-three-container {
    position: absolute;
    top: 300px;
    right: 30px;
}

.circle-four-container {
    position: absolute;
    bottom: 130px;
    left: 170px;
}

.circle-one-container-parent {
    position: relative;
    width: 330px;
    height: auto;
}

.circle-two-container-parent {
    position: relative;
    margin-left: 100px;
    width: 380px;
    height: auto;
}

.circle-three-container-parent {
    position: relative;
    /* margin-left: 400px; */
    width: 380px;
    height: auto;
}

.circle-four-container-parent {
    position: relative;
    margin-left: 100px;
    width: 380px;
    height: auto;
}


.img-container-one {
    width: 180px;
    height: 180px;
    margin-top: 20px;
    margin-left: 160px;
    border-radius: 50%;
}

.img-container-two {
    width: 200px;
    height: 200px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50%;
}

.img-container-four {
    width: 170px;
    height: 180px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50%;
}

.img-container-three {
    width: 170px;
    height: 170px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 50%;
}

.img-container-one img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-container-two img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-container-three img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

.img-container-four img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
}



.chat-box-right-one {
    position: absolute;
    width: 50%;
    height: 50px;
    top: 30px;
    right: 140px;
    border: 1px solid #EA4D27;
    background-color: #FFFF;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0px;
    text-align: center;
    border-radius: 10px 10px 0px 10px;
    animation: myAnim 1s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards, fadeIn 0.5s 0s forwards;
}

.chat-box-left-two {
    position: absolute;
    width: 50%;
    height: 50px;
    top: 20px;
    left: 160px;
    border: 1px solid #EA4D27;
    background-color: #FFFF;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0px;
    text-align: center;
    border-radius: 10px 10px 10px 0px;
    animation: myAnim 0.5s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards, fadeIn 0.5s 0s forwards;
}

.chat-box-right-three {
    position: absolute;
    width: 40%;
    height: 50px;
    top: 30px;
    right: 160px;
    border: 1px solid #EA4D27;
    background-color: #FFFF;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0px;
    text-align: center;
    border-radius: 10px 10px 0px 10px;
    animation: myAnim 1s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards, fadeIn 0.5s 0s forwards;
}

.chat-box-right-four {
    position: absolute;
    width: 40%;
    height: 50px;
    top: 30px;
    right: 90px;
    border: 1px solid #EA4D27;
    background-color: #FFFF;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0px;
    text-align: center;
    border-radius: 10px 10px 10px 0px;
    animation: myAnim 0.5s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards, fadeIn 0.5s 0s forwards;
}

@keyframes myAnim {
    from {
        transform: scaleX(0) translateY(40%);
        transform-origin: 0% 100%;
    }
    to {
        transform: scaleX(1) translateY(0);
        transform-origin: 0% 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}